.container{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(140deg,black, rgb(53, 1, 1));
}

.calculator{
    padding: 20px;
    border-radius: 10px;
    background-color: wheat;
}

form input {
    border: none;
    outline: 0;
    width: 60px;
    height: 60px;
    font-size: 16px;
    background-color: rgb(73, 41, 41);
    border-radius: 10px;
    font-weight: bolder;
    color: white;
    cursor: pointer;
    margin: 2px;
}

form input[type="button"]:hover{
    background-color: bisque;
}


form .display{
  display: flex;
  justify-content: flex-end;
  margin: 5px 0px 15px 0px;
}

form .display input{
    background-color:brown;
    text-align: right;
    flex: 1;
    box-sizing: border-box;
    font-size: 40px;
    padding: 5px 10px;
}

form input.equal{
    width: 123px;
}